################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/obj/x64
/bin
/.vs/mhw_damage_meter_1_5/v15
